<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Add User</h2>
    <form method="post" action="/add">
      <dl>
        <p>
          <input
            name="date"
            value=""
            type="text"
            placeholder="enter date"
            autocomplete="off"
            required
          />
        </p>
        <p>
          <input
            name="deaths"
            value=""
            type="text"
            placeholder="enter no of deaths"
            autocomplete="off"
            required
          />
        </p>
        <p>
            <input
              name="discharge"
              value=""
              type="text"
              placeholder="enter no of discharge"
              autocomplete="off"
              required
            />
          </p>
          <p>
            <input
              name="negative"
              value=""
              type="text"
              placeholder="enter no of negative "
              autocomplete="off"
              required
            />
          </p>
          <p>
            <input
              name="positive"
              value=""
              type="text"
              placeholder="enter no of positive"
              autocomplete="off"
              required
            />
          </p>
          <p>
            <input
              name="samples"
              value=""
              type="text"
              placeholder="enter no of samples"
              autocomplete="off"
              required
            />
          </p>
          <p>
            <input
              name="state"
              value=""
              type="text"
              placeholder="enter the state "
              autocomplete="off"
              required
            />
          </p>

        <!-- <p>
          <input
            name="inputPassword"
            value=""
            type="password"
            placeholder="Password"
            autocomplete="off"
            required
          />
        </p> -->
      </dl>
      <p>
        <input type="submit" value="Submit" />
      </p>
    </form>
  </body>
</html>
