<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/users.css">
    <title>List of users - Python Flask MySQL CRUD</title>
</head>
<body>
    <p><a href="{{ url_for('.add_user_view') }}"> Add User </a></p>
    <p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    </p>
    
    {{ table }}
</body>
</html>